<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instalacja Abgular CLI</title>
</head>

<body>
    <div class="container mt-3">
        <h2>Instalacja Angular CLI </h2>
        <p></p>
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"> <span class="badge badge-warning badge-pill">1</span>Przed ...</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"><span class="badge badge-warning badge-pill">2</span>Instalacja Angular CLI</a>
                    <a class="list-group-item list-group-item-action" id="list-linki-list" data-toggle="list" href="#list-linki" role="tab" aria-controls="linki"><span class="badge badge-dark badge-pill">3</span>Linki </a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                        <ul>
                            <li>Pobieramy <a href="https://nodejs.org/en/">Node js</a></li>
                            <li>W terminalu sparwdzamy wersję node -v </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                        <ul>Angulara instalujemy wpisując w terminalu komendę
                            <li><span id="one">npm install -g @angular/cli</span></li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="list-linki" role="tabpanel" aria-labelledby="list-linki-list">
                        <ul>
                            <li>Dokumentacja <a href="https://angular.io/docs">Angular</a></li>
                            <li>Nauka <a href="https://www.w3schools.com/angular/default.asp">Angular JS</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>