a:hover {
    text-decoration: none;
    color: rgb(77, 165, 42);
}

#one {
    font-weight: bold;
    color: rgb(172, 0, 72);
}


/*--------------------------------------------Dla bootstrapa-------*/

.one li span {
    color: rgb(151, 1, 94);
    font-weight: bold;
}

#json {
    color: brown;
}

.tekst2 {
    font-weight: bold;
}

.tekst3 {
    color: rgb(119, 0, 83);
    font-weight: bold;
}

.tekst4 {
    color: rgb(197, 124, 7);
    font-weight: bold;
}


/*-------------END-------------------------------Dla bootstrapa-------*/

.tab-pane ul li span {
    color: rgb(119, 0, 82);
    font-weight: bold;
}
